@font-face {
    font-family: 'robotoregular';
    src: url('./fonts/roboto-regular-webfont.woff2') format('woff2'), url('./fonts/roboto-regular-webfont.woff') format('woff'), url('./fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'intermedium';
    src: url('./fonts/Inter-Medium.woff2') format('woff2'), url('./fonts/Inter-Medium.woff') format('woff'), url("./fonts/Inter-Medium.otf") format("opentype"), url("./fonts/Inter-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'interregular';
    src: url('./fonts/Inter-Regular.woff2') format('woff2'), url('./fonts/Inter-Regular.woff') format('woff'), url("./fonts/Inter-Regular.otf") format("opentype"), url("./fonts/Inter-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'robotflexreg';
    src: url('./fonts/RobotoFlex-Regular.woff2') format('woff2'), url('./fonts/RobotoFlex-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}