.block-3 {
    &__wrap {
        margin: 0 auto;
        padding: 196px 15px 0 15px;
        padding-bottom: 137px;
        max-width: 1060px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
}

.block-3__left {
    max-width: 351px;
    &-text_1 {
        font-family: 'interregular';
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.48px;
        text-transform: uppercase;
        color: #161513;
    }
    &-text_2 {
        font-family: 'intermedium';
        font-size: 56px;
        line-height: 68px;
        color: #161513;
    }
}

.block-3__right {
    max-width: 598px;
    &-text_1 {
        font-family: 'interregular';
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0.64px;
        color: #161513;
    }
    &-text_2 {
        padding-top: 36px;
        padding-bottom: 36px;
        font-family: 'interregular';
        font-size: 18px;
        line-height: 32px;
        color: #161513;
    }
    &-text_3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
}

.right {
    &__wrap {
        max-width: 100px;
    }
    &__text {
        margin-bottom: 16px;
        font-family: 'intermedium';
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        color: #E71616;
    }
    &__num {
        font-family: 'interregular';
        font-size: 36px;
        line-height: 32px;
        letter-spacing: 0.48px;
        color: #161513;
    }
}

@media(max-width: 950px) {
    .block-3__inner {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .block-3__left {
        max-width: 100%;
    }
    .block-3__wrap {
        padding: 80px 15px 98px 15px;
    }
    .block-3__left-text_2 {
        margin-bottom: 30px;
    }
}

@media(max-width: 576px) {
    .block-3__inner {
        flex-direction: column;
    }
    .block-3__wrap {
        padding: 98px 15px;
    }
    .block-3__left {
        &-text_1 {
            font-size: 14px;
            line-height: 32px;
            letter-spacing: 0.48px;
        }
        &-text_2 {
            margin-bottom: 72px;
            font-size: 48px;
            line-height: 58px;
        }
    }
    .block-3__right {
        &-text_1 {
            font-size: 24px;
            line-height: 30px;
        }
        &-text_2 {
            font-size: 14px;
            line-height: 24px;
        }
        &-text_3 {
            flex-direction: unset;
            flex-wrap: wrap;
        }
    }
    .right__text {
        word-wrap: break-word;
    }
}