.block-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 100px;
    &__title {
        margin: 0;
        padding: 0;
        font-family: 'intermedium';
        font-size: 72px;
        line-height: 87px;
        color: #161513;
    }
    &__text {
        font-family: 'interregular';
        font-size: 56px;
        line-height: 68px;
        color: #161513;
    }
    &__desr {
        margin-top: 32px;
        font-family: 'interregular';
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.48px;
        text-transform: uppercase;
        color: #161513;
    }
}

.block-1__btn {
    margin-top: 36px;
    padding: 12px 15px;
    max-width: 220px;
    height: 56px;
    background: #161513;
    cursor: pointer;
    &-link {
        font-family: 'intermedium';
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.47px;
        color: #FFFFFF;
        text-decoration: none;
    }
}

.block-1__video {
    width: 562px;
    height: 562px;
    border-radius: 50%;
    object-fit: cover;
}

@media(max-width:950px) {
    .block-1 {
        flex-direction: column-reverse;
    }
    .block-1__video {
        width: 450px;
        height: 450px;
    }
}

@media(max-width:576px) {
    .block-1__video {
        width: 336px;
        height: 336px;
    }
    .block-1 {
        margin-bottom: 72px;
        margin-top: 45px;
        align-items: start;
    }
    .block-1__inner-text {
        margin-top: 45px;
    }
    .block-1 {
        &__title {
            font-size: 48px;
            line-height: 58px;
        }
        &__text {
            font-size: 26px;
            line-height: 31px;
        }
        &__desr {
            margin-top: 10px;
            font-size: 14px;
            line-height: 32px;
            letter-spacing: 0.48px;
        }
        &__btn {
            margin-top: 24px;
        }
    }
}