.block-6 {
    margin: 0 auto;
    max-width: 883px;
    &__comp {
        display: flex;
        justify-content: space-between;
        margin-top: 46px;
        margin-bottom: 137px;
    }
}

@media (max-width: 576px) {
    .block-6__comp {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 32px;
        margin-bottom: 144px;
    }
    .comp__img {
        max-width: 241px;
        height: 98px;
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}