.block-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 100px;
    &__title {
        margin: 0;
        padding: 0;
        font-family: 'intermedium';
        font-size: 72px;
        line-height: 87px;
        color: #161513;
    }
    &__text {
        font-family: 'interregular';
        font-size: 56px;
        line-height: 68px;
        color: #161513;
    }
    &__desr {
        font-family: 'interregular';
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.48px;
        text-transform: uppercase;
        color: #161513;
    }
}