.services__wrap {
    padding-top: 40px;
    padding-bottom: 137px;
}

.services__decr-inner {
    display: flex;
    justify-content: space-between;
}

.services__img {
    max-width: 562px;
    height: 562px;
    & img {
        max-width: 100%;
    }
}

.services__decr {
    margin-left: 45px;
    width: 640px;
    max-width: 100%;
}

.services__decr-text {
    margin-top: 47px;
    margin-bottom: 36px;
}

//tabs
.tabs__nav {
    &-items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        flex: 0 1 auto;
        margin: 0;
        padding: 0;
        height: 180px;
    }
    &-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        // padding: 50px 0px;
        text-align: center;
        list-style: none;
        // &::after {
        //     position: absolute;
        //     display: block;
        //     content: '';
        //     top: 0;
        //     bottom: 0;
        //     right: 0;
        //     left: 0;
        //     cursor: pointer;
        // }
        &:hover {
            background: #161513;
        }
    }
    &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'intermedium';
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.64px;
        color: #161513;
        text-decoration: none;
        height: 100%;
        width: 100%;
        padding: 50px 0;
    }
}

.nav__item {
    &-1 {
        border-width: 1px 0px 1px 1px;
        border-style: solid;
        border-color: #161513;
    }
    &-2 {
        border: 1px solid #161513;
    }
    &-3 {
        border-width: 1px 1px 1px 0px;
        border-style: solid;
        border-color: #161513;
    }
}

.tabs__nav-item:hover .tabs__nav-link {
    color: #FFFFFF;
}

.active__nav {
    background: #161513;
    color: #FFFFFF;
}

.tabs__desr {
    margin: 140px 0;
    font-family: 'interregular';
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.48px;
    color: #000000;
}

.services__tabs-inner {
    margin-top: 140px;
}

@media(max-width:992px) {
    .services__decr-inner {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .services__decr {
        margin-top: 40px;
        margin-left: 0;
        // &-title {
        //     text-align: center;
        // }
    }
    .tabs__nav-link {
        font-size: 22px;
        line-height: 26px;
    }
}

@media(max-width:576px) {
    .services__decr-title>.red__star-40 {
        margin-bottom: 0;
    }
    .services__img {
        max-width: 336px;
        height: 336px;
    }
    .desc__text {
        font-size: 24px;
        line-height: 30px;
        &-1 {
            font-size: 14px;
            line-height: 24px;
        }
    }
    .services__decr-text {
        margin-top: 30px;
    }
    .tabs__desr {
        font-size: 18px;
        line-height: 30px;
    }
    .tabs__nav-items {
        grid-template-columns: none;
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
        height: 100%;
    }
    .nav__item {
        &-1 {
            border-width: 1px 1px 0px 1px;
        }
        &-3 {
            border-width: 0px 1px 1px 1px;
        }
    }
    .tabs__desr {
        margin: 60px 0;
    }
    .services__tabs-inner {
        margin-top: 70px;
    }
}